.card-logement {
  width: 100%;
}

.card-logement_container {
  padding: 0 100px;
}

.card-logement_content {
  display: flex;
  justify-content: space-between;
}

.card-logement_title h3 {
  margin-bottom: 0;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  color: #FF6060;


}

.card-logement_title p {
  margin-top: 0;
}

.card-logement_host {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1em 0;
  gap: 1em;
}

.card-logement_host img {
  width: 64px;
  height: 64px;
  border-radius: 30px;
  object-fit: contain;
}

.card-logement_host p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #FF6060;
  margin: 0;
}

.card-logement_tag {
  display: flex;
  gap: 1rem;
}

.card-logement_tag p {
  background: #FF6060;
  color: white;
  padding: 0 2em;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.96px;
  text-align: center;

}

.card-logement_info {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 5%;
}



@media (max-width: 375px) {
  .card-logement {
    border: 2px solid red;
    width: auto;
  }

  .card-logement_container {
    border: 2px solid blue;
    margin: 20px;
    padding: 0;
  }

  .card-logement_content {
    flex-direction: column;
  }

  .card-logement_title h3 {
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;

  }

  .card-logement_title P {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.96px;
    text-align: left;

  }

  .card-logement_host img {
    width: 32px;
    height: 32px;
    border-radius: 30px;
  }

  .card-logement_host P {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    text-align: right;

  }

  .card-logement_tag P {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 14.26px;
    text-align: center;

  } 
  /*Collapse*/
  .card-logement_info{
    flex-direction: column;
    gap: 1em;
  }

}





/*
  const[star, setStar] = useState("");
  const testStar = () =>{
    if( content > 1 ){
      setStar(starAtive)
    }
    setStar(starInactive)
  }
  testStar();
  <img src={star}/>
      <img src={star}/>
      <img src={star}/>
      <img src={star}/>


        useEffect(() => {
    if( content > 4){
      setStar(starAtive);
    }
    
  }, []);



    useEffect(() => {
    //for(let i= 1; i < content; i++){
    //  console.log(i)
    //  setStar(starAtive);
    //}
    
    for(let i =1 ; i< content ; i++){
      console.log(i)
      return(
        <img src={star} style={{width:'24px'}}/>
      )
      
      setStar(starAtive)
    }
   else{
    setStar(starInactive);}
   <img src={star} style={{width:'24px'}}/>
      <img src={star} style={{width:'24px'}}/>
      <img src={star} style={{width:'24px'}}/>
      <img src={star} style={{width:'24px'}}/>
      <img src={star} style={{width:'24px'}}/>
    

  }, []);
  */