.card-logement {
  width: 100%;
  margin-top: 2%;

}

.card-logement_container {
  padding: 0 100px;
 
}
.Card-logement-container{
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
}


.card-logement_content {
  display: flex;
  flex-direction: column;

}


.card-logement_title h3 {
  margin: 0;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  color: #FF6060;


}

.card-logement_title p {
  margin-top: 0;
}

.card-logement_rating{
  display: flex;
  justify-content: end;
}

.card-logement_host {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1em 0;
  gap: 1em;
}

.card-logement_host img {
  width: 64px;
  height: 64px;
  border-radius: 30px;
  object-fit: contain;
}

.card-logement_host p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #FF6060;
  margin: 0;
}

.card-logement_tag {
  display: flex;
  gap: 1rem;
}

.card-logement_tag p {
  background: #FF6060;
  color: white;
  padding: 0 2em;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.96px;
  text-align: center;

}

.card-logement_info {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 5%;
}



@media (max-width: 768px) {
  .card-logement {
    width: auto;
  }

  .card-logement_container {
    margin: 20px;
    padding: 0;
  }

  .Card-logement-container{
    flex-direction: column;
    
  }
  .card-logement_content {
    flex-direction: column;
    justify-content: space-around;
  }

  
  .card-logement_title h3 {
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;

  }

  .card-logement_title P {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.96px;
    text-align: left;

  }
  .card-logement_tag{
    gap: 0;
    justify-content: space-between;
  }
  .card-logement_host img {
    width: 32px;
    height: 32px;
    border-radius: 30px;
  }

  .card-logement_host P {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    text-align: right;

  }

  .card-logement_rating{
    justify-content: flex-start;
    position: absolute;

  }
  .card-logement_tag P {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 14.26px;
    text-align: center;

  } 
  /*Collapse*/
  .card-logement_info{
    flex-direction: column;
    gap: 1em;
  }

}
