.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.headerContainer nav{
    display: flex;
    gap : 20px;
}
.headerContainer nav a{
    text-decoration: none;
    color: black;

}
.accueil{
    text-decoration: underline;
}