.card{
    width: 100%;
    margin: 50px 0 50px 0;
    background: #F6F6F6;
    box-sizing: border-box;
    border-radius: 20px;
    
}
.card-container{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   gap: 50px;
}

.card-content{
    width:  340px;
    height: 340px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    
}
 .card-container a{
    color: white;
    text-decoration: none;
 }

 .test{
 background: linear-gradient(180deg, #FFFFFF 0%, #0A0A0A00 0%, #04040434 50%, #00000080 80%, #00000080 90%);

    width:  380px;
    height: 380px;
    border-radius: 10px;
    position: absolute;
 }
 .test h2{
    padding-left: 1em;
    margin-top: 80%;
 }

 #acceuil{
   text-decoration: underline;
 }