.carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    position: absolute;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    
}

.arrow img[alt="flèche directionnelle gauche"]{
    left: 10px;
}
.arrow img[alt="flèche directionnelle droite"]{
    right: 10px;
}
.carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
