body {
  margin: 0 auto;
  max-width: 1440px;
}

* {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
}



h1 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 68.45px;
  text-align: center;
  color: white;
}




@media (max-width: 768px) {
  body {
    margin: 0 auto;
    max-width: 768px;
  }

  .headerContainer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerContainer nav a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerContainer img {
    width: 145px;
    height: 46.88px;

  }

  /*footer*/
  .footer-content {
    padding: 10%;
  }

  .footer-content p {
    text-align: center;
  }

  /*page AboutUs*/
  .aboutUs {
    padding: 0 20px;
  }



  

}