.bannerHome {
    width: 100%;
    height: 223px;
    border-radius: 20px;
    box-sizing: border-box;
    background-image: url(../../img/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.bannerContainer{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 20px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerContainer h1{
    text-align: center;
    margin: 0;
}

/*About US*/

.bannerAboutUs{
    width: 100%;
    height: 223px;
    border-radius: 20px;
    box-sizing: border-box;
    background-image: url(../../img/aboutBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 375px) {
    .bannerAboutUs{
        height: 111px;
    }
    .bannerHome{
        height: 111px;
    }
    .bannerContainer{
        justify-content: flex-start;
    }
   
    .bannerContainer h1 {
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 800;
        line-height: 40px;
        text-align: left;
        padding: 1em;
    
      }
}